@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    background-color: #f8f8f8;
    font-family: Georgia, serif;
}
.login-form {
    background-color:#fff;
}
.login-instructions {
    padding: 10px 15px;
    background-color: #f8f8f8;
    font-size: 1.5em;
    text-transform: capitalize;
}
.login-form .login-button-col {
    border-right: 2px solid #f8f8f8;
}
.login-form .gmail {
    justify-content: center;
}
.login-form img {
    width: 20vw;
    height: 20vh;
    object-fit: scale-down;
}